.cache/
eshell/
backups/
auto-save-list/
anaconda-mode/
tramp
session.*
recentf
projectile.cache
projectile-bookmarks.eld
/change-author.sh
transient/
elpa/gnupg
/elpa/archives/gnu/archive-contents.signed
/projects
*.elc
image-dired/
url/
ede-projects.el
bookmarks
abbrev_defs
*.~undo-tree~
